In [2]:
import pandas as pd
import numpy as np

In [38]:
# read the csv file
movies_df = pd.read_parquet("../data/tmdb_movies.parquet")
movies_df.shape

(1317581, 24)

### EDA

In [39]:
# columns in the dataset
movies_df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [40]:
# types of the columns
movies_df.dtypes

id                        int64
title                    object
vote_average            float64
vote_count                int64
status                   object
release_date             object
revenue                   int64
runtime                   int64
adult                      bool
backdrop_path            object
budget                    int64
homepage                 object
imdb_id                  object
original_language        object
original_title           object
overview                 object
popularity              float64
poster_path              object
tagline                  object
genres                   object
production_companies     object
production_countries     object
spoken_languages         object
keywords                 object
dtype: object

In [41]:
# Unique values in the dataset
movies_df.nunique()

id                      1316481
title                   1122317
vote_average               5025
vote_count                 3598
status                        6
release_date              43350
revenue                   14531
runtime                     800
adult                         2
backdrop_path            332178
budget                     6286
homepage                 128072
imdb_id                  642750
original_language           177
original_title          1158978
overview                 992349
popularity                20200
poster_path              862622
tagline                  175921
genres                    14435
production_companies     225751
production_countries      10715
spoken_languages           7358
keywords                 193000
dtype: int64

In [42]:
movies_df.isnull().sum()

id                            0
title                        16
vote_average                  0
vote_count                    0
status                        0
release_date             266378
revenue                       0
runtime                       0
adult                         0
backdrop_path            982225
budget                        0
homepage                1180707
imdb_id                  672145
original_language             0
original_title               16
overview                 293198
popularity                    0
poster_path              449573
tagline                 1133910
genres                   563246
production_companies     744937
production_countries     620681
spoken_languages         596085
keywords                 982269
dtype: int64

In [43]:
# convert release_date to datetime and create release_year column
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'])
movies_df['release_year'] = movies_df['release_date'].dt.year

In [44]:
# max and min date
print(movies_df["release_date"].max().date())
print(movies_df["release_date"].min().date())

2099-12-31
1800-01-01

### Data Cleaning

In [ ]:
# filter the dataset to include only english movies released between 1950 and 2025 only
movies_df = movies_df[(movies_df['release_date'] >= '1950-01-01') & (movies_df['release_date'] <= '2025-11-09')]
movies_df = movies_df[movies_df['original_language'] == 'en']

# filter the dataset to include only released movies
movies_df = movies_df[movies_df['status'] == 'Released']

# drop rows with missing title
movies_df = movies_df.dropna(subset=['title'])

print(movies_df.shape)
print(movies_df['release_date'].min().date())
print(movies_df['release_date'].max().date())

(497598, 25)
1950-01-01
2025-11-09

In [47]:
# remove unwanted columns
columns_to_keep = ['id', 'title', 'overview', 'genres', 'original_language', 'runtime', 'popularity', 'poster_path', 'release_year']
movies_df = movies_df[columns_to_keep].reset_index(drop=True)
movies_df['release_year'] = movies_df['release_year'].astype(int)

movies_df

,id,title,overview,genres,original_language,runtime,popularity,poster_path,release_year
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure",en,148,83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,2010
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction",en,169,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller",en,152,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction",en,162,79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,2009
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",en,143,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,2012
...,...,...,...,...,...,...,...,...,...
497593,821883,The Time We Have Left,If you knew today what our changing climate wo...,Documentary,en,21,0.600,None,2021
497594,821884,Teacher G's Acting Class,The French hot shot star teacher is about to g...,None,en,8,0.600,/1KHW1epZBsmkTfQGH4PA37vQBZx.jpg,2017
497595,821886,Sichuan Triptych,This film's three parts focus on three major e...,None,en,49,0.600,/s19pb3N3OxGEv0dEfp7RG8LxcwG.jpg,2010
497596,821888,"Live from Broadway: Hello, Dolly!",Documentary about the creation of the iconic B...,Music,en,120,1.090,None,1995
497597,821891,"Buddhism, Man and Nature",Visualizes the mood of Buddhism as the oneness...,Documentary,en,13,0.600,None,1968

In [48]:
movies_df.isnull().sum()

id                        0
title                     0
overview              14320
genres               211531
original_language         0
runtime                   0
popularity                0
poster_path          124280
release_year              0
dtype: int64

##### Get the id of movies with missing overview, genres, or poster_path

In [49]:
df = movies_df

# Normalize missing values (empty strings, None, 'nan', etc.)
df = df.replace(['', 'nan', 'None', None], pd.NA)

# Condition 1: Missing overview, genres, or poster_path
missing_mask = df[['overview', 'genres', 'poster_path']].isna().any(axis=1)

# Condition 2: Title contains 'Untitled' (case-insensitive)
untitled_mask = df['title'].str.contains('Untitled', case=False, na=False)

# Combine both conditions (OR)
combined_mask = missing_mask | untitled_mask

# Filter dataset
filtered_df = movies_df.loc[combined_mask, ['id', 'title']]

# Remove rows that match the combined condition
cleaned_df = df.loc[~combined_mask].copy()

# (Optional) Reset index
cleaned_df.reset_index(drop=True, inplace=True)

print(f"ðŸ§¹ Cleaned dataset size: {len(cleaned_df)} (removed {len(filtered_df)} rows)")

# Save cleaned dataset
cleaned_df.to_csv("../data/movies_cleaned.csv", index=False)
print("âœ… Cleaned dataset saved to /data/movies_cleaned.csv")

ðŸ§¹ Cleaned dataset size: 223498 (removed 274100 rows)
âœ… Cleaned dataset saved to /data/movies_cleaned.csv

##### Concat the cleaned movies and the fetched missing movies

In [ ]:
missing_movies = pd.read_parquet("../data/missing_movies.parquet")

missing_movies["release_date"] = pd.to_datetime(missing_movies["release_date"])
missing_movies["release_year"] = missing_movies["release_date"].dt.year

missing_movies.drop(columns=["release_date"], inplace=True)
missing_movies.dropna(subset=["release_year"], inplace=True)

missing_movies = missing_movies[missing_movies["original_language"] == "en"]

In [ ]:
tmdb_df = pd.concat([cleaned_df, missing_movies], ignore_index=True)
tmdb_df['original_language'] = "English"
tmdb_df['release_year'] = tmdb_df['release_year'].astype(int)
tmdb_df.rename(columns={'id': 'tmdb_id'}, inplace=True)
tmdb_df.drop_duplicates(subset="tmdb_id", inplace=True)
tmdb_df

,tmdb_id,title,overview,genres,original_language,runtime,popularity,poster_path,release_year
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure",English,148,83.9520,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,2010
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction",English,169,140.2410,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller",English,152,130.6430,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction",English,162,79.9320,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,2009
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",English,143,98.0820,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,2012
...,...,...,...,...,...,...,...,...,...
481551,821883,The Time We Have Left,If you knew today what our changing climate wo...,[Documentary],English,21,0.0453,None,2021
481552,821884,Teacher G's Acting Class,The French hot shot star teacher is about to g...,[],English,8,0.0071,/1KHW1epZBsmkTfQGH4PA37vQBZx.jpg,2017
481553,821886,Sichuan Triptych,This film's three parts focus on three major e...,[],English,49,1.1595,/s19pb3N3OxGEv0dEfp7RG8LxcwG.jpg,2010
481554,821888,"Live from Broadway: Hello, Dolly!",Documentary about the creation of the iconic B...,[Music],English,120,0.5682,/stiPEVijvHXUX4F2SMFFuUhAOvs.jpg,1995
481555,821891,"Buddhism, Man and Nature",Visualizes the mood of Buddhism as the oneness...,[Documentary],English,13,0.0143,None,1968

In [63]:
def normalize_genres(value):
    # If the value is a list or numpy array, join as comma-separated string
    if isinstance(value, (list, np.ndarray)):
        if len(value) == 0:
            return pd.NA
        return ", ".join(str(v).strip() for v in value if pd.notna(v) and str(v).strip())
    
    # If it's already a string, clean it up
    elif isinstance(value, str):
        value = value.strip()
        return value if value else pd.NA

    # Otherwise (None, NaN, etc.)
    return pd.NA

# Apply transformation
tmdb_df['genres'] = tmdb_df['genres'].apply(normalize_genres)

In [64]:
tmdb_df.isnull().sum()

tmdb_id                   0
title                     0
overview                  0
genres               182964
original_language         0
runtime                   0
popularity                0
poster_path           92282
release_year              0
dtype: int64

In [13]:
tmdb_df.to_parquet("../../data/tmdb_movies_updated.parquet", index=False)